<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<head>
<link href="/css/layui.css" rel="stylesheet">
</head>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="cid" name="cid" type="hidden">
							<input id="cover" name="cover" type="hidden">
							<div class="form-group">
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>文章标题：</label>
								<div class="col-sm-11">
									<input id="title" name="title" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>文章作者：</label>
								<div class="col-sm-11">
									<input id="author" name="author" class="form-control"
										type="text">
								</div>
							</div>
							<div class="form-group">
								<input id="content" name="content" type="hidden"> 
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>文章内容：</label>
								<div class="col-sm-11">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>开启评论：</label>
								<div class="switch onoffswitch col-sm-2">
									<div class="onoffswitch">
										<input id="allowComment" name="allowComment" checked="checked" type="checkbox" value="1" class="onoffswitch-checkbox">
										<label class="onoffswitch-label" for="allowComment">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>开启分享：</label>
								<div class="switch onoffswitch col-sm-2">
									<div class="onoffswitch">
										<input id="allowShare" name="allowShare" checked="checked" type="checkbox" value="1" class="onoffswitch-checkbox" >
										<label class="onoffswitch-label" for="allowShare"> 
											<span class="onoffswitch-inner"></span> 
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>开启打赏：</label>
								<div class="switch onoffswitch col-sm-2">
									<div class="onoffswitch">
										<input id="allowReward" name="allowReward" checked="checked" type="checkbox" value="1" class="onoffswitch-checkbox" >
										<label class="onoffswitch-label" for="allowReward"> 
											<span class="onoffswitch-inner"></span> 
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>开启订阅：</label>
								<div class="switch onoffswitch col-sm-2">
									<div class="onoffswitch">
										<input id="allowFeed" name="allowFeed" checked="checked" type="checkbox" value="1" class="onoffswitch-checkbox" >
										<label class="onoffswitch-label" for="allowFeed"> 
											<span class="onoffswitch-inner"></span> 
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>开启置顶：</label>
								<div class="switch onoffswitch col-sm-2">
									<div class="onoffswitch">
										<input id="topFlag" name="topFlag" type="checkbox" value="1" class="onoffswitch-checkbox" >
										<label class="onoffswitch-label" for="topFlag"> 
											<span class="onoffswitch-inner"></span> 
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>文章标签：</label>
								<div class="col-sm-11">
									<select class="selectpicker form-control" id="tags" name="tags" multiple data-live-search="true">
										<optgroup th:each="map : ${tagsList}" th:label="*{map.category}">
											<option th:each="tags : ${map.tags}" th:value="${tags.id}" th:text="${tags.name}">
										</optgroup>   
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>分类专栏：</label>
								<div class="col-sm-11">
									<select class="selectpicker form-control" id="categories" name="categories" multiple data-live-search="true" data-max-options="3">
										<option th:each="category : ${column}" th:value="${category.value}" th:text="${category.name}">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>发布形式：</label>
								<div class="col-sm-11">
									<select class="selectpicker form-control" id="issueForm" name="issueForm">
										<option th:each="issueForm : ${issueForm}" th:value="${issueForm.value}" th:text="${issueForm.name}">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>文章类型：</label>
								<div class="col-sm-11">
									<select class="selectpicker form-control" id="type" name="type">
										<option th:each="type : ${type}" th:value="${type.value}" th:text="${type.name}">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>文章链接：</label>
								<div class="col-sm-11">
									<input id="hyperLink" name="hyperLink" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label"><em class="gg-star" style="color: red;">* </em>文章排序：</label>
								<div class="col-sm-11">
									<input id="sort" name="sort" class="form-control" type="text" value="10">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label"></label>
								<div class="col-sm-11">
									<button type="button" class="layui-btn" id="test1">
			                            <i class="fa fa-cloud"></i>&nbsp;&nbsp;上传文章封面
			                        </button>
			                        <div class="layui-upload-list">
										<img class="layui-upload-img" id="demo1" style="width: 200px;height: 200px;">
									</div>
								</div>
							</div>
							<input id="status" name="status" type="hidden">
							<div class="text-right form-group">
								<a class="btn btn-default waves-effect waves-light" onclick="returnList()">文章列表</a>
								<button class="btn btn-primary waves-effect waves-light" onclick="publishBlog()" type="submit">发布文章</button>
								<button class="btn btn-warning waves-effect waves-light" onclick="saveDraft()" type="submit">存为草稿</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/blog/bContent/add.js"></script>
	<script src="/js/layui.js"></script>
	<script>
		layui.use('upload', function(){
			var $ = layui.jquery;
			var upload = layui.upload;
		   
		  //执行实例
		  var uploadInst = upload.render({
		    elem: '#test1' //绑定元素
		    ,url: '/common/sysFile/upload' //上传接口
		    ,before: function(obj){
				//预读本地文件示例，不支持ie8
				obj.preview(function(index, file, result){
					$('#demo1').attr('src', result); //图片链接（base64）
				});
		    }
		    ,done: function(res){
		      //上传完毕回调
		      $("#cover").val(res.fileName);
		    }
		    ,error: function(){
		      //请求异常回调
		    }
		  });
		});
	</script>
</body>
</html>
