
.w3layouts-header-title {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.w3layouts-header-title h2 {
    font-weight: 200;
    font-size: 1.0em;
    background: rgba(0, 0, 0, 0.47);
    padding: 25px;
    color: #fff;
    letter-spacing: 3px;
}
